<?xml version="1.0" encoding="UTF-8" ?>
 <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example10"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>APP10 Piano </name>

    <description>
        Utiliza Plugins de audio con un piano y las 7 notas musicales Junio 2016
    </description>

    <preference name="phonegap-version" value="3.1.0" />
	
	<preference name="orientation" value="landscape" />
	
    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Lic. Jose Antonio Gomez Hernandez
    </author>
	
<!--Core plugins-->
<plugin name="cordova-plugin-device" spec="~1.1.4"/>
<plugin name="cordova-plugin-vibration" spec="~2.1.3"/>
<plugin name="cordova-plugin-dialogs" spec="~1.3.1"/>

<!-- <plugin name="cordova-plugin-inappbrowser" spec="~1.7.0" /> -->

<!-- <plugin name="cordova-plugin-geolocation" source="npm"/> -->
<!-- Third part plugins -->

<!-- Para accesar a paginas en internet-->
<allow-intent href="https://*/*"/>
<acces origin="https://*/*"/>
<allow-intent href="http://*/*"/>
<acces origin="http://*/*"/>
<plugin name="cordova-plugin-whitelist" source="npm"/>

	<!--Plugin Audio -->
    <gap:plugin name="com.rjfun.cordova.plugin.lowlatencyaudio" version="1.0" />
  
  
    <!--Colocar icono app -->
	
<icon src="res/android/mdpi.png" />

</widget>
   